.gs-expandeditemview {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gs-expandeditemview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.gs-expandeditemview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
    padding: 0 5px;
}

.gs-expandeditemview-header-close {
    cursor: pointer;
    color: #ffffff;
}

.gs-expandeditemview-header-title {
    color: #ffffff;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gs-expandeditemview-imagecontainer {
    border-radius: 2px;
    background-color: #ffffff;
    padding: 5px;
    width: 500px;
    height: 500px;
}

.gs-expandeditemview-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
}

.gs-expandeditemview-checkout {
    margin-top: 30px;
    background-color: #673c4f;
    border-radius: 2px;
    color: white;
    padding: 15px 40px;
    font-size: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.gs-expandeditemview-checkout:hover {
    background-color: #612c43;
}

.gs-expandeditemview-checkout-icon {
    margin-right: 5px;
}
