.gs-header-decorator {
    background-color: #ffffff;
    padding: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 14px 0 rgba(59, 59, 59, 0.31);
    margin-bottom: 2rem;
}

.gs-header-decorator a {
    display: flex;
}

.gs-header-info {
    height: 235px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.gs-header-info-tagline {
    position: absolute;
    bottom: 6px;
    right: 10%;
    margin-right: 10px;
    font-family: "Brandon Light", sans-serif;
    font-weight: 300;

}

.gs-header-info-tagline > a,
.gs-header-info-tagline > a:hover {
    color: #b2bac1;
}

.gs-header-navbar {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 10%;
}

.gs-header-navbar-hover-enabled:hover {
    font-weight: bold;
}

.gs-header-navbar-spacer {
    width: 125px;
    margin-left: 10px;
}

.gs-header-navbar-link-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.gs-header-navbar-link {
    /* This mixture of margin and padding is used to put the underline (border) in the right place */
    margin: 0 25px;
    padding-bottom: 3px;
    text-decoration: none;
    color: #b2bac1;
    font-size: 16px;
}

.gs-header-navbar-link:hover {
    text-decoration: none;
    color: #b2bac1;
}

.gs-header-navbar-link-active {
    text-decoration: none;
    color: #b2bac1;
    border-bottom: 2px solid #b2bac1;
}

.gs-header-navbar-link-active:hover {
    color: #b2bac1;
    text-decoration: none;
}

.gs-header-navbar-cart,
.gs-header-navbar-cart-active {
    margin-right: 10px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 125px;
    font-size: 15px;
}

.gs-header-navbar-cart {
    border: 1px solid #2f4b66;
    text-decoration: none;
    color: #2f4b66;
    background-color: white;
    width: 125px;
}

.gs-header-navbar-cart-icon {
    margin-right: 5px;
}

.gs-header-navbar-cart:hover {
    background-color: #2f4b66;
    text-decoration: none;
    color: #ffffff;
}

.gs-header-navbar-cart-img {
    background-image: url(/img/Shopping-Cart_Orange.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    height: 12px;
    margin-right: 5px;
}

.gs-header-navbar-cart:hover .gs-header-navbar-cart-img {
    background-image: url(/img/Shopping-Cart_White_For-Button-in-module.png);
}

.gs-header-navbar-cart-active {
    background-color: #2f4b66;
    text-decoration: none;
    color: #ffffff;
}

.gs-header-navbar-cart-active:hover {
    text-decoration: none;
    color: #ffffff;
}

.margin-left {
    margin-left: auto;
}
