[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.OrderingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = warning

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = suggestion

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.LayoutRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.LayoutRules.severity = suggestion

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = suggestion

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = suggestion
