//=========================================================
//  Elements
//---------------------------------------------------------

html {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: rgba(200,200,255,.1);
}
