<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>
  <targets>
    <target name="ai" xsi:type="ApplicationInsightsTarget" InstrumentationKey="63b53227-684e-43bd-a86c-8923503e7606" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="ai" />
  </rules>
</nlog>