<div class="tweet-container">
    <input placeholder="Say something . . ." type="text" class="new-tweet-input" id="new-tweet" ng-model="text">
    <!-- new tweet submitted here -->
    <button class="btn-tweet" id="tweet" ng-click="submitTweet(text)">Tweet</button>
</div>

<div class="tweets" id="tweets-target">
    <div class="tweet-container" ng-repeat="tweet in tweets">
        <div class="tweet-body"> [[ tweet.text ]]</div>
        <div class="tweet-name"> [[ tweet.user ]]</div>
        <div class="tweet-time"> [[ tweet.timestamp | date:'medium' ]]</div>
    </div>
</div>