* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  margin: 0;
}

.leader-h {
  width: 100%;
  background-color: #333;
  color: #fafafa;
  padding: 50px 10%;
  margin: 0;
}

.user-h {
  color: #00cccc;
  padding-left: 25px;
  float: left;
  font-size: 12px;
  width: 100%;
}

.tweet-container {
  margin: 20px auto;
  width: 80%;
  padding: 30px;
  border: 2px solid gray;
  border-radius: 10px;
  overflow: hidden;
}

.new-tweet-input {
  width: 100%;
  height: 32px;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding-left: 5px;
}

.new-tweet-input:focus {
  border-color: #00cccc;
  outline: none;
}

.btn-tweet {
  margin-top: 10px;
  background-color: #33cc00;
  color: #fafafa;
  font-size: 16px;
  float: right;
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-tweet:hover {
  background-color: #4DE61A;
}

.btn-tweet:active {
  background-color: #009900;
}

.tweet-time {
  color: gray;
  font-style: italic;
  margin-bottom: 10px;
  font-size: 12px;
  overflow: hidden;
}

.tweet-name {
  color: #00cccc;
  font-style: italic;
  margin-bottom: 10px;
  font-size: 12px;
  float: left;
  margin-right: 10px;
}

.tweet-profile-photo {
  float: left;
  margin-right: 10px;
}

.tweet-body {
  font-size: 20px;
}

.div-profile {
  margin: 20px auto;
  width: 80%;
  padding: 30px;
  border: 2px solid gray;
  border-radius: 10px;
  overflow: hidden;
}

.ul-profile {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-profile {
  /* font: 200 20px/1.5 Helvetica, Verdana, sans-serif; */
  border-bottom: 1px solid #ccc;
}