.gs-cartview-empty {
    border-top: 1px solid #e6e6e6;
}

.gs-cartview-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.gs-cartview-empty-tagline {
    font-size: 36px;
    color: #333333;
    margin-bottom: 40px;
    font-family: "Brandon Light", sans-serif;
    font-weight: 300;
}

.gs-cartview-empty-browse {
    display: flex;
    align-items: center;
    font-size: 18px;
    border: 1px solid #2f4b66;
    color: #2f4b66;
    text-decoration: none;
    border-radius: 3px;
    height: 47px;
    padding: 0 10px;
    margin-top: 40px;
    background-color: white;
}

.gs-cartview-empty-browse:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2f4b66;
}
