//=========================================================
//  IconButtonComponent
//---------------------------------------------------------

.btn--icon {
  border-radius: 100%;
  padding: 8px;
  width: 40px;
  height: 40px;
}
