@import 'styles/base';

//=========================================================
//  SearchBarComponent
//---------------------------------------------------------

.search-bar {
  height: 0;
  overflow: hidden;
  transition: height 160ms ease-in-out;
}

.search-bar--open {
  height: 90px;
}


//=====================================
//  Search Form
//-------------------------------------
.search-form {
  border-top: 1px solid rgba(255, 255, 255, .05);
}

.search-form__input {
  outline: none;
  border: 0;
  padding: 0;
  width: 100%;
  height: 65px;
  color: #f0f0f0;
  font-family: inherit;
  font-size: rem(30px);
  font-weight: 300;
  background: transparent;

  &::placeholder {
    color: #999;
    opacity: 1; // firefox native placeholder style has opacity < 1
  }

  &:focus::placeholder {
    color: #777;
    opacity: 1;
  }

  // webkit input doesn't inherit font-smoothing from ancestors
  -webkit-font-smoothing: antialiased;

  // remove `x`
  &::-ms-clear {
    display: none;
  }
}
