log/
obj/
bin/
_site/
.optemp/
_themes*/
_repo.*/
.vs/
.vscode/
.idea
.ionide/
.openpublishing.buildcore.ps1.vscode/
*.DS_Store
*.lnk
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
