@import 'styles/base';

//=========================================================
//  UserCardComponent
//---------------------------------------------------------

.user-card {
  margin-bottom: 40px;
  padding-top: 110px;
  height: 270px;
  background: #1d1e1f;
}

.user-card__title {
  margin-bottom: 27px;
  color: #d6d6d6;
  font-size: rem(36px);
  font-weight: 300;
  line-height: (50px / 36px);
}

//=====================================
//  Stats
//-------------------------------------
.user-stats {}

.user-stats__label {
  display: block;
  border-bottom: 1px solid #363738;
  padding-bottom: 3px;
  color: #808182;
  text-decoration: none;

  &.active {
    border-bottom: 1px solid #9a5b45;
  }
}

.user-stats__value {
  font-size: rem(24px);
}
