# Sample Production Environment Variable File
# These variables should be set in App Service App Settings
# See: https://docs.microsoft.com/en-us/azure/app-service/web-sites-configure#app-settings

# Set the Production Settings Module
DJANGO_SETTINGS_MODULE="connect_python_azure.settings.production"

# Configure the SECRET_KEY for Django See: https://docs.djangoproject.com/en/2.1/ref/settings/#secret-key
SECRET_KEY="my-secret-key"

# For deployment purposes, configure the Azure App Service Hostname
AZURE_HOSTNAME="myhost"


# Configure the PostgreSQL Database with App Specific Settings
DB_USER="db_user"
DB_PASSWORD="db_password"
DB_NAME="db_name"
DB_HOST="db_host"

# One-time use variables
# Only used for initial setup
POSTGRES_ADMIN_PASSWORD="db_admin_password"

# Required for error emails
SEND_ADMIN_EMAILS="true"
EMAIL_HOST_USER="your-email-account"
EMAIL_HOST_PASSWORD="your-email-password"
ADMIN_EMAIL_TO="email-target-account"