@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body{
  margin:0;
  background: url('/assets/graphy.png');
  font-family: 'Helvetica Neue', sans-serif;
  h1{
    margin:0 auto;
    z-index:0;
    text-align:center;
    font-size:20em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:#0080FF;
    opacity:0.7;
  }
  h1, iframe{
    width:500px;
    margin:0 auto;
  }
}

iframe{
  background:#fff;
  display:block;
  height:320px;
}
