<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Oryx." ToolsVersion="10.0">

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- XML documentation comments must be provided for classes, constructors, etc. -->
    <Rule Id="SA0001" Action="None" />

    <!-- Parameters should not span multiple lines -->
    <Rule Id="SA1118" Action="None" />

    <!-- All using directives are placed within a namespace -->
    <Rule Id="SA1200" Action="None" />

    <!-- Files must end with a singular newline character -->
    <Rule Id="SA1518" Action="None" />

    <!-- Not everything deserves to be documented -->
    <Rule Id="SA1600" Action="None" /> <!-- ElementsMustBeDocumented -->
    <Rule Id="SA1602" Action="None" /> <!-- EnumerationItemsMustBeDocumented -->
    <Rule Id="SA1604" Action="None" /> <!-- ElementDocumentationMustHaveSummary -->
    <Rule Id="SA1611" Action="None" /> <!-- ElementParametersMustBeDocumented -->
    <Rule Id="SA1615" Action="None" /> <!-- ElementReturnValueMustBeDocumented -->
    <Rule Id="SA1618" Action="None" /> <!-- GenericTypeParametersMustBeDocumented -->
    
    <!-- Documentation text should end in a period -->
    <Rule Id="SA1629" Action="None" />

    <!-- Files must have an XML header -->
    <Rule Id="SA1633" Action="None" />
  </Rules>

  <Rules AnalyzerId="Microsoft.VisualStudio.Threading.Analyzers" RuleNamespace="Microsoft.VisualStudio.Threading.Analyzers">
    <!-- This rule complains about too many of our files, so until further notice, disabling it -->
    <Rule Id="VSTHRD002" Action="None" /> <!-- Use await or JoinableTaskFactory.Run instead -->
  </Rules>

  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">

    <!-- "Do not declare static members on generic types" -->
    <Rule Id="CA1000" Action="Info" />
  
    <!-- "catch a more specific allowed exception type" -->
    <Rule Id="CA1031" Action="Info" />

    <!-- "Add the following constructor to TagNotFoundException" -->
    <Rule Id="CA1032" Action="Info" />
    
    <!-- "Do not nest type" -->
    <Rule Id="CA1034" Action="Info" />

    <Rule Id="CA1036" Action="Info" />

    <!-- "Because property CreatedAt is write-only, either add a property getter ..." -->
    <Rule Id="CA1044" Action="Info" />

    <!-- "Do not declare visible instance fields" -->
    <Rule Id="CA1051" Action="Info" />

    <!-- "Change the type of <whatever> from 'string' to 'System.Uri'" -->
    <Rule Id="CA1054" Action="Info" />
    <Rule Id="CA1055" Action="Info" />
    <Rule Id="CA1056" Action="Info" />

    <!-- "validate parameter 'X' is non-null before using it" -->
    <Rule Id="CA1062" Action="None" />
    
    <!-- "Modify 'KeyVault.Dispose' so that it calls Dispose(true), then calls GC.SuppressFinalize" -->
    <Rule Id="CA1063" Action="Info" />

    <!-- "Exceptions should be public" -->
    <Rule Id="CA1064" Action="Info" />
    
    <!-- "creates an exception of type NotImplementedException, an exception type that should not be raised in a property" -->
    <Rule Id="CA1065" Action="Info" />

    <!-- "should override Equals because it implements IEquatable<T>" -->
    <Rule Id="CA1067" Action="Info" />

    <!-- <Rule Id="CA2007" Action="Info" /> -->

    <!-- "Retrieve the following string(s) from a resource table instead" -->
    <Rule Id="CA1303" Action="Info" />

    <!-- "behavior of <whatever> could vary based on the current user's locale" -->
    <Rule Id="CA1304" Action="Info" />
    <Rule Id="CA1305" Action="Info" />
    <Rule Id="CA1308" Action="Info" />
    <Rule Id="CA1310" Action="Info" />

    <!-- "Remove the underscores from member name" -->
    <Rule Id="CA1707" Action="Info" />

    <!-- "Rename X to end in 'Exception'" -->
    <Rule Id="CA1710" Action="Info" />

    <!-- "internal class that is apparently never instantiated" -->
    <Rule Id="CA1812" Action="Info" />

    <!-- "Change KeyVault.Dispose() to call GC.SuppressFinalize(object)" -->
    <Rule Id="CA1816" Action="Info" />

    <!-- "Properties should not return arrays" -->
    <Rule Id="CA1819" Action="Info" />

    <Rule Id="CA2007" Action="Info" />

    <!-- "Do not raise reserved exception types" -->
    <Rule Id="CA2201" Action="Error" />

    <Rule Id="CA2119" Action="Info" />

    <!-- "Change 'X' to be read-only by removing the property setter" -->
    <Rule Id="CA2227" Action="Info" />

    <!-- "call 'HttpClient.GetAsync(Uri)' instead of 'HttpClient.GetAsync(string)'" -->
    <Rule Id="CA2234" Action="Info" />

    <!-- "uses a weak cryptographic algorithm HMACSHA1" -->
    <Rule Id="CA5350" Action="Info" />

    <Rule Id="CS8002" Action="Info" />
  </Rules>

  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <!-- Requires that unused using directives are removed. -->
    <Rule Id="IDE0005" Action="Error" />
  </Rules>

  <Rules AnalyzerId="SmartAnalyzers.CSharpExtensions.Annotations" RuleNamespace="SmartAnalyzers.CSharpExtensions.Annotations">
    <!-- Require that method return values be used or explicitly discarded. -->
    <Rule Id="CSE005" Action="Info" />
  </Rules>

</RuleSet>
