.app {
	background-color: #272727;
	background-image: url("./graphics/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 3000px;
	left: 50%;
	overflow: hidden;
	position: fixed;
	top: 50%;
	transform-origin: center center;
	transform: translate(-50%, -50%);
	width: 4500px;
}

.logo {
	height: auto;
	left: 103px;
	position: absolute;
	top: 124px;
	width: 815px;
	z-index: 99;
}

.stepper.basic-info .stepper-nav {
	opacity: 0;
}

.stepper.basic-info .next-button,
.stepper.configure .next-button,
.stepper.stats .next-button {
	width: 1504px;
}

.stepper.configure .stepper-nav,
.stepper.stats .stepper-nav {
	z-index: 9;
}

.briefcase-icon {
	background-image: url("./graphics/briefcase.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.floppy-icon {
	background-image: url("./graphics/floppy.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.lightning-bolt-icon {
	background-image: url("./graphics/lightning-bolt.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.lightbulb-icon {
	background-image: url("./graphics/lightbulb.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.view-quide-text {
	color: #ffffff;
	font-size: 60px;
	left: 1004px;
	margin: 0;
	opacity: 0;
	position: fixed;
	top: 200px;
}
