@import 'styles/base';

//=========================================================
//  PlayerComponent
//---------------------------------------------------------

player {
  display: block;
  position: fixed;
  left: 0;
  bottom: -80px;
  z-index: 100;
  transform: translateZ(0);
  box-shadow: 0 -3px 0 0 rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  height: 71px;
  background: #2d2e2f;
  transition: bottom 300ms ease-in-out;

  &.open {
    bottom: -10px;
  }
}

.player-timeline {
  height: 4px;
  background: #3a3b3c;
  cursor: pointer;
}
