.gs-cartview-normal {
    margin: 0 10%;
}

.gs-cartview-normal {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

.gs-cartview-normal-header {
    color: #666;
    font-size: 24px;
    margin-top: 35px;
    font-family: "Brandon Light", sans-serif;
    font-weight: 300;
}

.gs-cartview-normal-header-count {
    font-weight: bold;
    color: #2f4b66
}

.gs-cartview-normal-body {
    display: flex;
}

.gs-cartview-normal-rightpane {
    padding: 25px;
    border-radius: 3px;
    background-color: #f5f5f5;
    height: 245px;
}

.gs-cartview-normal-rightpane-label {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bolder;
    color: #333333;
}

.gs-cartview-normal-rightpane-input {
    margin-bottom: 28px;
    width: 285px;
    padding: 5px 10px;
}

.gs-cartview-normal-rightpane-disclaimer {
    font-size: 11px;
    font-family: "Brandon Light", sans-serif;
    font-weight: 300;
    color: #333333;
    width: 285px;
    margin-bottom: 35px;
}

.gs-cartview-normal-rightpane-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 215px;
    border: 1px solid #2f4b66;
    background-color: #ffffff;
    border-radius: 3px;
    color: #2f4b66;
    font-size: 18px;
}

.gs-cartview-normal-rightpane-submitcontainer {
    display: flex;
    justify-content: center;
}

.gs-cartview-normal-rightpane-submit:hover {
    background-color: #2f4b66;
    color: #ffffff;
}

.gs-cartview-normal-rightpane-submit-icon {
    margin-right: 5px;
}

.gs-cartview-normal-leftpane {
    flex-grow: 1;
    margin-top: 25px;
    margin-right: 30px;
}

.gs-cartview-normal-leftpane-header {
    display: flex;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}

.gs-cartview-normal-leftpane-header-products {
    flex-grow: 1;
}

.gs-cartview-normal-leftpane-header-total {
    width: 75px;
}

.gs-cartview-normal-leftpane-header-quantity {
    width: 125px;
}

.gs-cartview-normal-leftpane-row {
    display: flex;
    margin-bottom: 20px;
}

.gs-cartview-normal-leftpane-row-product {
    flex-grow: 1;
    display: flex;
}

.gs-cartview-normal-leftpane-row-product > img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.gs-cartview-normal-leftpane-row-total {
    width: 75px;
    font-size: 14px;
    color: #666666;
}

.gs-cartview-normal-leftpane-row-quantity {
    width: 125px;
    display: flex;
    align-items: baseline;
}

.gs-cartview-normal-leftpane-row-quantity > select {
    width: 100px;
    margin-right: 20px;
}

.gs-cartview-normal-leftpane-close {
    cursor: pointer;
}

.gs-cartview-normal-leftpane-row-product-name {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.gs-cartview-normal-leftpane-row-product-by {
    font-size: 12px;
    color: #333333
}

.gs-cartview-normal-leftpane-row-product-author {
    font-size: 12px;
    color: #2f4b66;
}

.gs-cartview-normal-leftpane-row-product-size {
    font-size: 12px;
    color: #2f4b66;
    margin-top: 5px;
}
