@import 'styles/base';

//=========================================================
//  AppHeaderComponent
//---------------------------------------------------------

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transform: translateZ(0);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, .08);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  min-height: 61px;
  overflow: hidden;
  background: $base-background-color;
}


//=====================================
//  Title
//-------------------------------------
.header__title {
  float: left;
  padding-top: 10px;
  height: 60px;
  font-size: rem(14px);
  font-weight: 400;
  line-height: (40px / 14px);
}


//=====================================
//  Actions
//-------------------------------------
.header__actions {
  @include clearfix;
  float: right;
  padding-top: 18px;
  height: 60px;

  li {
    float: left;
    margin-left: 12px;
    border-left: 1px solid #38393a;
    padding-left: 12px;
    height: 24px;
    list-style: none;

    &:first-of-type {
      margin-left: 0;
      border: none;
      padding-left: 0;
    }
  }

  .btn {
    margin-top: 3px;
    border-radius: 0;
    padding: 0;
    fill: #98999a;
  }

  .btn--search-alt {
    width: 18px;
    height: 18px;

    .icon {
      width: 18px;
      height: 18px;
    }
  }

  .btn--soundcloud {
    width: 36px;
    height: 18px;

    .icon {
      width: 36px;
      height: 18px;
    }
  }

  .link {
    display: block;
    fill: #98999a;
    transform: translate(0, 0);
  }

  .link--github {
    margin-top: 2px;
    width: 20px;
    height: 20px;

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}
