.gs-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #b2bac1;
    margin: 0 12px;
}

.gs-feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.gs-feedback-heading {
    display: flex;
    align-items: center;
    color: #b2bac1;
    font-size: 35px;
    font-family: "Brandon Light", sans-serif;
    font-weight: 300;
    margin-top: 35px;
    padding-right: 57px;
}

.gs-feedback-heading > img {
    margin-right: 10px;
}

.gs-feedback-subheading {
    color: #b2bac1;
    font-size: 14px;
    margin-top: 10px;
}

.gs-feedback-commentarea {
    margin-top: 25px;
    width: 100%;
    height: 125px;
    border-radius: 2px;
    border: 1px solid #b2bac1;
    padding: 6px 10px;
}

.gs-feedback-submit-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.gs-feedback-submit-container > a {
    margin-right: 15px;
    text-decoration: none;
    color: #b2bac1;
}

.gs-feedback-submit-container > a {
    text-decoration: none;
    color: #b2bac1;
}

.gs-feedback-submit-container > button {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #2f4b66;
    color: #2f4b66;
    border-radius: 2px;
    background-color: #ffffff;
    height: 32px;
    width: 100px;
}

.gs-feedback-submit-container > button:hover {
    color: #ffffff;
    background-color: #2f4b66;
}
