@page "/"

<h1>Deployment Sample for Blazor WASM</h1>
<h2>Running on: @Environment.OSVersion</h2>

This is a sample Blazor WASM application that was deployed via GitHub Actions. See the details at <a href="https://github.com/timheuer/blazor-deploy-sample">blazor-deploy-sample</a> on GitHub.

This is hosted several ways: <br/><br/>

                                  <ul>
                                      <li>Azure Storage using Static website features</li>
                                      <li>Azure App Service Linux (using pm2 trick)</li>
                                      <li>Azure App Service Linux (via Containers)</li>
                                      <li>Azure App Service Windows</li>
                                  </ul>

<br/><br/>
Thanks for learning.  Send me ideas <a href="https://twitter.com/timheuer">timheuer</a>
<SurveyPrompt Title="How is Blazor working for you?" />
