@page "/serverless"
@inject HttpClient Http

<h1>Serverless</h1>

<input @bind-value="inputMessage" @bind-value:event="oninput" />

<button class="btn btn-primary" @onclick="SayHelloAsync">Click me</button>

@if (message == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>The message is: @message</p>
}

@code {
    string message;
    string inputMessage;

    protected override async Task OnInitializedAsync()
    {
        message = await Http.GetStringAsync("https://bwasm-sayhellofunc.azurewebsites.net/api/SayHello?");
    }

    protected async Task SayHelloAsync()
    {
        message = await Http.GetStringAsync($"https://bwasm-sayhellofunc.azurewebsites.net/api/SayHello?name={inputMessage}");
    }
}
