//=========================================================
//  Settings
//---------------------------------------------------------

$base-background-color: #262728 !default;
$base-font-color: #aaabac !default;
$base-font-family: 'aktiv-grotesk', Helvetica Neue, Arial, sans-serif !default;
$base-font-size: 14px !default;
$base-line-height: 20px !default;


//=====================================
//  Grid Settings
//-------------------------------------
$grid-max-width: 960px !default;
$grid-total-columns: 12 !default;
$grid-gutter-size: 20px !default;
