//=========================================================
//  IconComponent
//---------------------------------------------------------

// 1. For svg icons in buttons, IE11 loses `cursor: pointer`
//    when hovering over the svg fill area.
//
.icon {
  width: 24px;
  height: 24px;
  pointer-events: none; // [1]
}

.icon--small {
  width: 18px;
  height: 18px;
}
