.gs-create-search {
    text-align: center;
    background-image: url(/img/Background-Stripe.png);
    height: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gs-create-search-input {
    display: flex;
    align-items: center;
    background: transparent url(/img/Magnifying-glass.png) no-repeat scroll 10px center;
    padding-left: 41px;
    background-color: #ffffff;
    width: 492px;
    height: 42px;
    border: 1px solid #cccccc;
}
