<#@ template language="C#" #>
apiVersion: v1
kind: Pod
metadata:
 name: <#= Name #>
spec:
 containers:
  - image: oryxdevms/build:latest
    name: azure
    command: [ "/bin/bash", "-c", "--" ]
    args: [ "while true; do sleep 30; done;" ]
    volumeMounts:
      - name: <#= VolumeName #>
        mountPath: /mnt/samples
 volumes:
  - name: <#= VolumeName #>
    persistentVolumeClaim:
      claimName: <#= VolumeClaimName #>