<#@ template language="C#" #>
apiVersion: v1
kind: PersistentVolume
metadata:
  name: <#= Name #>
spec:
  capacity:
    storage: <#= Capacity #>
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - mfsymlinks
  azureFile:
    secretName: storage-secret
    shareName: <#= AzureFileShareName #>