<#@ template language="C#" #>
apiVersion: apps/v1
kind: Deployment
metadata:
  name: <#= Name #>
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  selector:
    matchLabels:
      app: <#= Name #>
  template:
    metadata:
      labels:
        app: <#= Name #>
    spec:
     containers:
      - image: <#= Image #>
        name: <#= AppName #>
        command: [ "/bin/bash", "-c", "--" ]
#        args: [ "while true; do sleep 30; done;" ]
        args: [ "cd <#= AppDir #>_out && npm start" ]
        volumeMounts:
          - name: <#= VolumeName #>
            mountPath: /mnt/samples
        ports:
          - containerPort: 80
     volumes:
      - name: <#= VolumeName #>
        azureFile:
          secretName: storage-secret
          shareName: <#= AzureFileShareName #>