amqp==5.1.1
asgiref==3.4.1
async-generator==1.10
async-timeout==4.0.2
attrs==21.2.0
azure-common==1.1.27
azure-core==1.17.0
azure-identity==1.5.0
azure-keyvault-secrets==4.2.0
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
Babel==2.9.1
beautifulsoup4==4.10.0
billiard==3.6.4.0
bleach==4.1.0
celery==5.2.7
certifi==2022.12.7
cffi==1.14.6
charset-normalizer==2.0.4
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
crispy-bootstrap5==0.6
cryptography==41.0.0
cssselect==1.1.0
data-wizard==1.3.0
dateparser==1.0.0
defusedxml==0.7.1
Deprecated==1.2.13
diff-match-patch==20200713
Django==3.2.19
django-appconf==1.0.4
django-axes==5.8.0
django-compressor==2.4
django-crispy-forms==1.14.0
django-csp==3.7
django-csp-reports==1.4
django-formtools==2.3
django-import-export==3.0.1
django-ipware==3.0.7
django-libsass==0.9
django-otp==1.0.6
django-phonenumber-field==3.0.1
django-recaptcha==2.0.6
django-reversion==3.0.8
django-six==1.0.5
django-storages==1.11.1
django-two-factor-auth==1.13
djangorestframework==3.12.4
et-xmlfile==1.1.0
factory-boy==3.2.1
Faker==15.3.2
graphlib-backport==1.0.3
h11==0.12.0
html-json-forms==1.1.1
idna==3.2
isodate==0.6.0
itertable==2.0.0
kombu==5.2.4
libsass==0.21.0
lxml==4.9.3
MarkupPy==1.14
msal==1.21.0
msal-extensions==0.3.0
msrest==0.6.21
natural-keys==1.6.0
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.0.10
outcome==1.1.0
packaging==21.3
phonenumberslite==8.12.29
portalocker==1.7.1
prompt-toolkit==3.0.31
psycopg2==2.8.6
pycparser==2.20
PyJWT==2.4.0
pyOpenSSL==21.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.5
PyYAML==6.0.1
qrcode==6.1
rcssmin==1.0.6
redis==4.4.4
regex==2021.8.3
requests==2.31.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.4
tablib==3.2.1
tblib==1.7.0
trio==0.19.0
trio-websocket==0.9.2
tzlocal==2.1
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
whitenoise==6.3.0
webencodings==0.5.1
wrapt==1.14.1
wsproto==1.0.0
xlrd==2.0.1
xlwt==1.3.0