@import 'styles/base';

//=========================================================
//  WaveformComponent
//---------------------------------------------------------

waveform {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  overflow: hidden;
  pointer-events: none;

  canvas {
    width: inherit;
    height: inherit;
    image-rendering: pixelated;
    image-rendering: optimizeSpeed;
    pointer-events: none;
  }
}
