//=========================================================
//  Layout
//---------------------------------------------------------

.g-col {
  @include grid-column;
  width: 100%;
}

.g-cont {
  padding: 0 10px;
}

.g-row {
  @include grid-row;
}


@include width-util-classes();


@include media-query() {
  @include width-classes(2, xs-);
}


@include media-query(500) {
  @include width-classes(4, sm-);
}


@include media-query(740) {
  @include width-classes(3, md-);
}


@include media-query(980) {
  @include width-classes(4, lg-);

  .g-cont {
    padding: 0;
  }
}
