@import 'styles/base';

//=========================================================
//  AudioTimelineComponent
//---------------------------------------------------------

audio-timeline {
  display: block;
  position: relative;
  width: inherit;
  height: inherit;

  .bar {
    position: absolute;
    height: inherit;
    background: #506f43;
  }

  .bar--animated {
    transition: width 500ms;
  }

  .bar--buffered {
    opacity: .3;
  }

  .bar--elapsed {}
}
